<div class="container w-50 mt-5 text-center">
  <div class="text-center display-3 m3 text-white">
    Word Limit: {{limit}}
  </div>



<input


type="range"
min="1"
max="100"
value="{{limit}}"
class="slider form-control-range"
(change)="handleSlideChange($event)"

/>
<button (click)="generate()" class="btn btn-info" >Generate Words</button>
<button (click)="random()" class="nbtn btn-info" >Random Numbers</button>

<div *ngIf="words" class="card card-body">
  <p class="class display-3">
    {{words}}

  </p>

</div>

</div>
